@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-theme{
    --root_background: #1f1f1f;}
    .light-theme{
        --root_background: white;
    }
:root{
    background-color: #1f1f1f;
}
body, html {
    background-color: #fff; /* White background */
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
